
<div class="container">
  <!-- Javascript way to return back to the previous page -->
    <button onclick="goBack()" class="btn btn-warning">Go Back</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
    
  <h1 class="text-center">My Shopping List</h1>
  <div class="shopping-list-form col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
    <%= form_for ShoppingItem.new, url:user_shopping_items_path do |f| %>
    <div class="form-group">
      <div class="col-lg-10 col-md-10">
        <%= f.text_field :item, class:"form-control" %>
      </div>
      <div class="col-lg-2 col-md-2">
        <%= f.submit "Create", class:"btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>

  <% if @shopping_items.blank? %>
    <h3>Hey, you have no items on your list. create one today!</h3>
  <% else %>
  <div class="table-box">
    <table class="table table-hover">
      <tr>
        <% num = 0 %>
        <th>No.</th>
        <th>Item</th>
        <th>Status</th>
        <th>Date Created</th>
      </tr>
      <% @shopping_items.each do |i| %>
      <tr>
        <td><%= num += 1 %></td>
        <td><%= i.created_at.strftime("%d %B %Y")%></td>
        <% if i.status == "Unchecked" %>
        <td class="shopping-item"><%= i.item %></td>
        <% else %>
        <td class="shopping-item strike-text"><%= i.item %></td>
        <% end %>
        <td>
          <% if i.status == "Unchecked" %>
            <%= form_for :shopping_item, url:check_item_path(user_id: current_user.id, id: i.id), method: :post, html:{class:"check-form"} do |f| %>
            <%= f.hidden_field :id, value:i.id %>
            <%= f.hidden_field :user_id, value:current_user.id %>
            <%= f.button :submit, class:"vote-btn" do %>
              <i class="glyphicon glyphicon-unchecked" id="check-button"></i>
              <%end%>
            <% end %>
          <% else %>
            <%= form_for :shopping_item, url:uncheck_item_path(user_id: current_user.id, id: i.id), method: :post, html:{class:"uncheck-form"} do |f| %>
            <%= f.hidden_field :id, value:i.id %>
            <%= f.hidden_field :user_id, value:current_user.id %>
            <%= f.button :submit, class:"vote-btn" do %>
              <i class="glyphicon glyphicon-check" id="uncheck-button"></i>
              <%end%>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</div>
