<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-1 pull-left">
        <%= link_to  "#{image_tag("spot-logo.png", class:"navbar-logo")}".html_safe, root_path %>
      </div>
      <h2 class="col-lg-3 col-md-3 pull-left">Prices of Things</h2>
      <% if logged_in?  %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Post A Price", new_user_thing_path(current_user.id) %></li>
        <li><%= link_to 'My Shopping List', user_shopping_items_path(current_user.id)%></li>
        <li><%= link_to "My Profile", user_path(current_user.id) %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Sign Up", signup_path %></li>
        <li><%=link_to "Sign In", signin_path%></li>
      </ul>
    </div>
  <% end %>
  </div>
</nav>
